@font-face {
    font-family: 'standardFont';
    src: url('assets/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'standardFont', sans-serif;
    touch-action: none;
}

.backgroundContainer{
    display: flex;
    justify-content: center; 
    align-items: center;  
}

.backgroundSkyImage{
    position: absolute;
    top: 0;
    width: 100%;
    height: 50%;
    image-rendering: pixelated;
    z-index: -1;
    object-fit: cover;
}

.backgroundImage{
    position: absolute;
    left: 0;
    top: 50vh;
    width: 100%;
    height: 50%;
    object-fit: cover;
    image-rendering: pixelated;
    overflow: auto;
}

.backgroundSunImage{
    position: absolute;
    top: calc(25vh - 7.5vw);
    width: 15vw;
    image-rendering: pixelated;
    overflow: auto;
    z-index: -1;
    animation: rotate 50s linear infinite; 
}


.moneyCounter {
    position: absolute; 
    left: 5vw;
    top: calc(25vh - 6vw);
    font-size : 10vw;
    color : orange;
    text-shadow:
                -3px -3px 0 #000,  
                3px -3px 0 #000,
                -3px  3px 0 #000,
                3px  3px 0 #000;
}

.slimeContainerContainer{
    display: grid;
    justify-content: center; 
    align-items: center;  
    position : absolute;
    top: 50vh;
    left: 0;
    width: 100%;
    height: 50%;
    border: 2px solid black; 
}
.slimeContainer{
    background-color: transparent;
    display: flex;
    justify-content: center; 
    align-items: center;  
    flex-wrap: wrap;
    max-width: 80vw;
}

.slimeField{
    background-color: rgba(255, 251, 0, 0.35);
    order : 1;
    width : 10vw;
    height : 10vw;
    margin: 1vw;
    border-radius: 1.25vw;
    display: grid;
    place-items: center
}

.slimeImage{
    image-rendering: pixelated;
    width: 100%;
    user-select: none;
    -moz-user-select: none; 
    pointer-events: none;
}

.slimeImage.lock{
    width: 60%;
}

.follower{ 
    position: fixed;
    width: 10vw;
}

.moneyCount {
    user-select : none;
    font-size : 30px;
    color : lightblue;
    position: absolute; /* Absolut positioniert */
    transform: translateX(-50%); /* Korrektur für zentrierte Position */
    animation: moveUp 2s ease-in-out forwards; /* Animation dauert 2 Sekunden und bleibt in der Endposition */
}

.noSelect{
    user-select : none;
    -moz-user-select: none; 
}
.noUserSelect{
    user-select : none;
    -moz-user-select: none; 
    pointer-events: none;
}

@keyframes moveUp {
    0% {
        transform: translateY(0);
        opcaity: 1;
    }
    100% {
        transform: translateY(-100px); /* Passe diesen Wert an, um die gewünschte Höhe zu erreichen */
        opacity: 0;
    }
}

.trashIcon{
    position: absolute;
    height: 6vw;
    margin-top: 10vw;
    margin-left: 90vw;
    image-rendering: pixelated;
    z-index: -1;
}

.shopIcon{
    position: absolute;
    height: 6vw;
    margin-top: 2vw;
    margin-left: calc(89vw);
    image-rendering: pixelated;
    z-index: -1;
}

.shopContainer{
    border: 2px solid #000;
    background-color: blue;
    display: flex;
    justify-content: center; 
    align-items: center;  
    flex-wrap: wrap;
    max-width: 1500px;
}

.shopItem{
    order : 1;
    width : 100px;
    height : 100px;
    border: 2px solid #000;
    margin: 10px;
    display: grid;
    place-items: center
}

.messageContainer{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: chartreuse;
    display: grid;
    place-items: center
}

.messageBackground{
    opacity: 0.8;
    animation: rotate 50s linear infinite; 
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.messageSlimeBackground{
    animation: rotate 25s linear infinite; 
    position: absolute;
    left : calc(10vw - (35vw/8));
    top : calc(30vh - (35vw/3));
    width: 45vw;
}

.messageItem{
    position: absolute;
}

.messageUnlock{
    left : 50vw;
    top: 15vh;
    font-size : 5vw;
}

.messageCost{
    left : 50vw;
    top: 35vh;
    font-size : 3vw;
}

.messageEarnings{
    left : 50vw;
    top: 45vh;
    font-size : 3vw;
}

.messageImage{
    width:35vw;
    image-rendering: pixelated;
    position: absolute;
    left : 10vw;
    top : 30vh;
}

.messageDescription{
    left : 50vw;
    top: 60vh;
    font-size : 3vw;
}

.messageContinue{
    left: 50vw;
    top: 65vh;
    font-size : 2vw;
}

.hidden{
    display: none;
}
