@font-face {
    font-family: 'standardFont';
    src: url('assets/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'standardFont', sans-serif;
    background-color: #72751b;
}

.backgroundContainer{
    display: flex;
    justify-content: center; 
    align-items: center;  
}

.backgroundSkyImage{
    position: absolute;
    top: 0;
    width: 100%;
    height: 50%;
    image-rendering: pixelated;
    z-index: -1;
    object-fit: cover;
}

.backgroundImage{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 50%;
    object-fit: cover;
    image-rendering: pixelated;
    overflow: auto;
}

.backgroundSunImage{
    position: absolute;
    top: calc(25% - 7.5vw);
    width: 15vw;
    image-rendering: pixelated;
    overflow: auto;
    z-index: -1;
    animation: rotate 50s linear infinite; 
}


.moneyCounter {
    position: absolute; 
    left: 5vw;
    top: calc(25% - 6vw);
    font-size : 10vw;
    color : orange;
    text-shadow:
                -3px -3px 0 #000,  
                3px -3px 0 #000,
                -3px  3px 0 #000,
                3px  3px 0 #000;
}

.slimeContainerContainer{
    display: grid;
    justify-content: center; 
    align-items: center;  
    position : absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
    border: 2px solid black; 
}
.slimeContainer{
    background-color: transparent;
    display: flex;
    justify-content: center; 
    align-items: center;  
    flex-wrap: wrap;
    max-width: 80vw;
}

.slimeField{
    background-color: rgba(255, 251, 0, 0.35);
    order : 1;
    width : 10vw;
    height : 10vw;
    margin: 1vw;
    border-radius: 1.25vw;
    display: grid;
    place-items: center
}

.slimeImage{
    image-rendering: pixelated;
    width: 100%;
}

.follower{ 
    position: fixed;
    width: 10vw;
}

.moneyCount {
    user-select : none;
    font-size : 30px;
    color : lightblue;
    position: absolute; /* Absolut positioniert */
    transform: translateX(-50%); /* Korrektur für zentrierte Position */
    animation: moveUp 2s ease-in-out forwards; /* Animation dauert 2 Sekunden und bleibt in der Endposition */
}

.noSelect{
    user-select : none;
    -moz-user-select: none; 
}
.noUserSelect{
    user-select : none;
    -moz-user-select: none; 
    pointer-events: none;
}

@keyframes moveUp {
    0% {
        transform: translateY(0);
        opcaity: 1;
    }
    100% {
        transform: translateY(-100px); /* Passe diesen Wert an, um die gewünschte Höhe zu erreichen */
        opacity: 0;
    }
}

.interactionDiv{
    position: absolute;
    width: 15vw;
    height: 50%;
    top: 0;
    right: 0;
    image-rendering: pixelated;
    z-index: -1;
}
.trashIcon{
    position: absolute;
    width: 100%;
    height: 30%;
    object-fit: contain;
    top : 55%;
}

.shopIcon{
    position: absolute;
    width: 100%;
    height: 30%;
    object-fit: contain;
    top: 15%;
    right: 0;
    float: right;
}

.shopContainer{
    border: 2px solid #000;
    position: absolute;
    left: 25%;
    top: 0;
    width: 50%;
    height: 50%;
    background-image: url("assets/background_0.png");
    background-size: cover; 
    background-repeat: no-repeat;
    display: flex;
    justify-content: center; 
    align-items: center;  
    flex-wrap: wrap;
    overflow: hidden;
}

.shopItem{
    order : 1;
    width: 7vw;
    height: 7vw;
    border: 2px solid #000;
    margin: 10px;
    display: grid;
    place-items: center
}

.shopItemImage{
    margin-top: 0.5vw;
    width: 100%;
    height: 100%;
    object-fit: contain;
    image-rendering: pixelated;
    box-sizing: border-box;
}

.shopItemPrice{
    font-size: 1.5vw;
    margin: 0;
}

.messageContainer{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: chartreuse;
    display: grid;
    place-items: center
}

.messageBackground{
    opacity: 0.8;
    animation: rotate 50s linear infinite; 
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.messageSlimeBackground{
    animation: rotate 25s linear infinite; 
    position: absolute;
    left : calc(10vw - (35vw/8));
    top : calc(30% - (35vw/3));
    width: 45vw;
}

.messageItem{
    position: absolute;
}

.messageUnlock{
    left : 50vw;
    top: 15%;
    font-size : 5vw;
}

.messageCost{
    left : 50vw;
    top: 35%;
    font-size : 3vw;
}

.messageEarnings{
    left : 50vw;
    top: 45%;
    font-size : 3vw;
}

.messageImage{
    width:35vw;
    image-rendering: pixelated;
    position: absolute;
    left : 10vw;
    top : 30%;
}

.messageDescription{
    left : 50vw;
    top: 60%;
    font-size : 3vw;
}

.messageContinue{
    left: 50vw;
    top: 65%;
    font-size : 2vw;
}

.winScreenBackgroundBackground{
    position: absolute;
    top: -5%;
    left: -5vw;
    width: 110vw;
    height: 110%;
    object-fit: cover;
    filter: blur(10px);
}

.winScreenBackground{
    position: absolute;
    top: 0;
    left: -2vw;
    width: 104vw;
    height: calc(104vw /1.36);
    object-fit: contain;
    image-rendering: pixelated;
    z-index: -1;
}

.endScreenDiv{
    position: absolute;
    width: 35vw;
    height: 20vw;
    left: 32%;
    top: 50%;
    display:grid;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 251, 0, 0.35);
    border-radius: 1.25vw;
}

.winScreenCaption{
    font-size: 5vw;
    color: yellow;
}

.winScreenText{
    font-size: 3vw;
    color: black;
}

.winGameButton{
    position: absolute;
    width: 25vw;
    height: 5vw;
    left: calc(50vw - (25vw * 0.5));
    top: calc(75% - 2.5vw);
    font-size: 3vw;
    border-radius: 1.25vw;
    background-color: chartreuse;
    border-color: green;
}

.winGameButton:active {
    background-color: #45a049; /* Farbänderung beim Klicken */
}

.hidden{
    display: none;
}
